.center
  = image_tag( lorem_image("900X250px"), :alt => "",:height=> @imheight,:class => :center)
.board_box
  - @boards_array.each_with_index do |board, index|
    .row-fluid 
      -board.each do |b|
        .span4
          %h2= b.title
          %p= b.description
          %p
            =link_to "進入... »",forum_board_path(b), :class => :btn
    %hr

