%h3 Edit Topic
= simple_form_for @topic, :url => board_topic_path(@board,@topic) do |f|
  = render :partial => 'form', :locals => { :f => f}
  tags
  = text_area :text ,"tag_area",:cols => false, :rows => false
  = f.submit