/ .block.notice
/   %h3 Simple Block
/   .content
/     %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.block
  %h3 管理
  %ul.navigation
    %li
      =link_to "使用者管理", "#"
    %li
      =link_to "文章管理", "#"
    %li
      =link_to "品牌管理", "#"
    %li
      =link_to "標籤管理", "#"
    %li
      =link_to "論壇管理", "#"