.span10
  .subnav
    %ul.nav.nav-pills
      %li.active
        %a{:href => "#"} 基本資料
      %li
        %a{:href => "#"} 發表的文章
      %li
        %a{:href => "#"} 收藏的文章
      %li
        %a{:href => "#"} 關注的人
      %li
        %a{:href => "#"} 關注你的人
      %li
        %a{:href => "#"} 訊息
  %p
    name:
    = @user.name
  %p
    email:
    = @user.email
  %p
    image:
    = image_tag(@user.avatar,:alt=>"")
  %p
    關注的人
    - @idols.each do |t|
      t.name
      <br>
  %p
    收藏文章
    - @collect_topics.each do |t|
      t.title
      <br>  