.span9
  #item_box_container.item_box_container.center
    - @posts.each do |p|
      .item_box
        =link_to image_tag( p.picture.thumb.url, :alt => ""), post_path(p)
        .user-info
          .user-image= link_to image_tag( p.user.avatar.thumb.small, :alt => ""), user_path(p.user)
          .user-name= link_to display_name(p.user.name), user_path(p.user)
          %ul
            .count-info
              .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "30"}
            .count-info
              = button_to "收藏", "#", :class => "btn btn-success"
.span3
  =render :partial => "_partials/sidebar", :locals => {:hot_posts => @view_posts, :recent_posts => @recent_posts, :tags => @tags}
.fb-like-box{"data-header" => "true", "data-height" => "265", "data-href" => "http://www.facebook.com/pages/%E6%88%B6%E5%A4%96%E8%A3%9D%E5%82%99%E8%A8%8E%E8%AB%96-Community/497804336900787", "data-show-faces" => "true", "data-stream" => "true", "data-width" => "975"}

