.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header 熱門文章
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.nav-header 最新發表
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    .fb-recommendations{"data-header" => "true", "data-height" => "300", "data-width" => "250"}
/ /.well
/ /span
  