/ .logo
/   %a.brand{:href => "#"} 戶外裝備網
/   .sign_in.pull-right
/     =sign_in_div


.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li 
            %a{:href => "#"} OutdoorGear
          %li.active
            %a{:href => "#"} 首頁
          %li
            %a{:href => "#"} 論壇
          %li
            =link_to "最受歡迎", popular_posts_path
          %li
            %a{:href => "#"} 最受歡迎
          %li
            %a{:href => "#"} 最新發表
          %li
            %a{:href => "#"} 登山
          %li
            %a{:href => "#"} 單車
          %li
            %a{:href => "#"} 品牌 
        .pull-right
          =sign_in_div