/ .logo
/   %a.brand{:href => "#"} 戶外裝備網
/   .sign_in.pull-right
/     =sign_in_div


.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          = nav_top_bar @top_nav_num
        .pull-right
          =sign_in_div