%h3 文章標題：
%h3
= simple_form_for @post, :url => posts_path(:topic_id => @topic) do |f|
  = render :partial => 'form', :locals => { :f => f}
  %br
  加入標籤：
  %br
  = text_area :text ,"tag_area",:cols => false, :rows => false
  %br
  = f.button :submit, "發表"


%br/
%a#pickfiles{:href => "#"} [選擇圖片]
%a#uploadfiles{:href => "#"} [上傳圖片]