@import "compass";
@include global-reset;
@import "box";
@import "icons";


body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: rgba(241,241,241,0.5);
}

.sidebar-nav {
        padding: 9px 0;
}

#container{
	padding-bottom: 60px;
}

footer {
	    background: none repeat scroll 0 0 #CDC4B4;
	    color: #FFFFFF;
	    font-size: 12px;
	    height: 50px;
	    margin: 20px auto 0;
	    padding-bottom: 60px;
	    width: 975px;
}

.center {
	margin: 0 auto;
}

.pagination{
	@include clearfix;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}

.page-tool.pagination{
	float: right;
}

//.breadcrumb .btn{
//	float: right;
//	display: inline;
//	
//}

.posts{
	background: #f0f0f0;
	margin-left: 3px;
	
}

.post-box{
	background: #f0f0ff;
	margin-left: 3px;
	padding-bottom: 5px;
}