!!! 5
%html
  %head
    %title= yield :title
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #topbar.topbar
      =render :partial => "_partials/topbar"
    #container.container-fluid
      .row-fluid
        .span10
          =yield
        .span2
          =render :partial => "_partials/sidebar"
    #footer
      =render :partial => "_partials/footer"